<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75"
            src="https://images-na.ssl-images-amazon.com/images/G/01/digital/video/hero/TVSeries/FamilyGuy_6647600-FAMILYGUY._V392937825_SX1080_.jp g"
            alt="Imagem da capa do card">
    </div>
    <div class="card-body">
        <h5 class="card-title text-center text-monospace">Family Guy</h5>
        <p class="card-text text-center text-monospace">Um dos melhores desenhos ja criados.</p>
        <a href="https://sites.google.com/site/familyguytvs/personagens/historia"
            class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Site
            Oficial</a>

        <a href="https://pt.wikipedia.org/wiki/Family_Guy" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">Sobre o family
            Guy</a>

    </div>
</div>